<?xml version="1.0" encoding="UTF-8"?>

<widget xmlns	= "http://www.w3.org/ns/widgets"
	xmlns:gap	= "http://phonegap.com/ns/1.0"
	id			= "com.phonegap.ShootEmUp"
	version		= "1.0.0">

	<name>ShootEmUp</name>

	<description>
		a new ShootEmUp series game.
	</description>

	<author>Joanne Law</author>

	<preference name="orientation" value="landscape" />

	<platform name="android" />

</widget>